security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider

            # On utilise TON authenticator, pas form_login
            custom_authenticator:
                - App\Security\LoginFormAuthenticator

            logout:
                path: app_logout
                target: /login

    access_control:
        # Page de login accessible sans être connecté
        - { path: ^/login, roles: PUBLIC_ACCESS }

        # Dashboard admin
        - { path: ^/admin/dashboard, roles: ROLE_ADMIN }

        # Home user connecté
        - { path: ^/home, roles: ROLE_USER }

        # (Optionnel) tout le reste nécessite d'être connecté
        # - { path: ^/, roles: ROLE_USER }


when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
